on:
  pull_request:
#   push:
#   release:
#     types:
#       - published
#       - created

jobs:
  show_payload:
    runs-on: ubuntu-latest
    name: A job to show payload data
    steps:
      - name: abc
        uses: debdutdeb/community.pr@test
          
  
